<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kotlin">

    <application android:allowBackup="true">
        <activity android:name=".KTActivity">
            <intent-filter>
                <data android:host="com.kotlin" android:scheme="kotlin" android:pathPrefix="/KTActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>

        <activity  android:name=".TestActivity"/>

    </application>

</manifest>